.post {
    /* backgroundImage: `url(${Pic5})`; */
    top: 0px;
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.addpostbtn {
    background-color: #388e3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}